h1 {
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    color: #675ff1;
    font-size: 500%;
    background-color: rgba(148, 134, 147, 0.904);
    width: 100%;
    padding: 15px;
}

p {
    color: rgb(67, 117, 243);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 200%;
}
p1 {
    color: rgba(148, 134, 147, 0.904);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 200%;
}

li {
    display: inline;
    margin-right: 10px;
}
li.coming-soon {
    visibility: hidden;
}

img {
    width: 100%;
}
#school {
    width: 100%;
}
#football {
    width: 100%;
}
#bcca {
    width: 100%;
}

.gas {
    float: right;
}
.store {
    float: right;
}
.panel-heading {
    color: rgba(0, 68, 255, 0.76);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 200%;
}

.panel .panel-heading {
    color: rgba(0, 68, 255, 0.76);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 300%;
    background-color: rgb(253, 253, 253);
}
.panel-body {
    color: rgba(254, 255, 254, 0.986);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 300%;
    background-color: rgba(148, 134, 147, 0.904);
}
.panel-title {
    font-size: 200%;
}

.p-heading {
    color: rgb(253, 253, 253);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 100%;
    background-color: rgb(253, 253, 253);
}

.p-info {
    color: rgb(253, 253, 253);
    font-family: 'Oswald', sans-serif, 'PT Sans Caption', sans-serif;
    font-size: 100%;
    background-color: rgb(253, 253, 253);
}
