h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #675ff1;
    font-size: 500%;
    background-color: rgba(241, 46, 225, 0.66);
    width: 100%;
    padding: 15px;
}

p {
    color: rgb(67, 117, 243);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 200%;
}
p1 {
    color: rgb(243, 67, 199);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 200%;
}

li {
    display: inline;
    margin-right: 10px;
}
li.coming-soon {
    visibility: hidden;
}

img {
    width: 100%;
}
#school {
    width: 25%;
}
#football {
    width: 25%;
}
#bcca {
    width: 30%;
}

.gas {
    float: right;
}
.store {
    float: right;
}
.panel-heading {
    color: rgba(0, 68, 255, 0.76);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 200%;
}

.panel .panel-heading {
    color: rgba(0, 68, 255, 0.76);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 300%;
    background-color: rgba(46, 241, 241, 0.66);
}
.panel-body {
    color: rgba(0, 255, 21, 0.76);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 300%;
    background-color: rgba(253, 1, 236, 0.66);
}
.panel-title {
    font-size: 200%;
}

.p-heading {
    color: rgba(1, 253, 219, 0.66);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 100%;
    background-color: rgba(0, 255, 255, 0.76);
}

.p-info {
    color: rgba(0, 255, 221, 0.76);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 100%;
    background-color: rgba(1, 253, 211, 0.66);
}
